In [1]:
# Initial Imports

In [5]:
import pandas as pd

In [6]:
from pathlib import Path

In [7]:
# Set File Path

In [17]:
file_path = Path('PyBank\week_2_Week2_HW_PyBank_budget_data.csv')

In [18]:
df = pd.read_csv(r'C:\Users\Ryan\Desktop\UM FinTech Bootcamp\Python-Homework\PyBank\week_2_Week2_HW_PyBank_budget_data.csv')

In [19]:
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532